# Игнорировать папку сборки
/build/

# Игнорировать временные файлы IDE
/.vscode/
/.idea/

# Игнорировать бинарные файлы
*.exe
*.out
*.o
*.a
*.so
*.dll

# Игнорировать логи
*.log

# Игнорировать файлы зависимостей
/third_party/
/vcpkg/

# Игнорировать системные файлы
.DS_Store
Thumbs.db